{* This is the welcome page, you can delete it *}
{block content}
<div class="block">
    <div class="buttons">
        <a n:href="default" class="button is-info">Zpět</a>
    </div>
</div>
<div class="block">
    <h2>Výpočet</h2>
    {control table, $rows}
</div>