{* This is the welcome page, you can delete it *}
{block content}
{varType App\Entity\Row[] $rows}
<div class="block">
    <div class="buttons">
        <a data-confirm="Opravdu si přejete provést akci 1?" n:href="joke" class="button is-info confirm">Akce 1 (vtip)</a>
        <a data-confirm="Opravdu si přejete provést akci 2?" n:href="initials" class="button is-info confirm">Akce 2 (stejná písmena)</a>
        <a data-confirm="Opravdu si přejete provést akci 3?" n:href="calculation" class="button is-info confirm">Akce 3 (výpočet)</a>
        <a data-confirm="Opravdu si přejete provést akci 4?"n:href="timeInterval"class="button is-info confirm">Akce 4 (časový interval)</a>
        <a data-confirm="Opravdu si přejete provést akci 5?"n:href="parser"class="button is-info confirm">Akce 5 (parser)</a>
    </div>
</div>

<div class="block">
    <h2>Výchozí data</h2>
    {control table, $rows}
</div>
