{block content}
{varType App\Entity\Row[] $rows}
<div class="block">
    <div class="buttons">
        <a n:href="default" class="button is-info">Zpět</a>
    </div>
</div>
<div class="block">
    <h2>Shodné iniciály</h2>
    {control table, $rows}
</div>