{block content}
<div class="block">
    <div class="buttons">
        <a n:href="default" class="button is-info">Zpět</a>
    </div>
</div>
<div class="block bg-img is-size-1 has-text-centered">
    <h2>{$joke[0]}</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>{$joke[1]}</h2>
</div>
