{* This is the welcome page, you can delete it *}
{block content}
{varType App\Entity\Row[] $rows}
<div class="block">
    <div class="buttons">
        <a n:href="default" class="button is-info">Zpět</a>
    </div>
</div>
<div class="block">
    {dump $rows}
    <h2>Časový interval</h2>
    {control table, $rows}
</div>