{varType App\Entity\Row[] $rows}
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>číslo 1</th>
        <th>číslo 2</th>
        <th>číslo 3</th>
        <th>výpočet</th>
        <th>vtip</th>
        <th>vytvořeno v</th>
    </tr>

    </thead>
    <tr n:foreach="$rows as $row">
        <td>{$row->id}</td>
        <td>{$row->name}</td>
        <td>{$row->firstNumber}</td>
        <td>{$row->secondNumber}</td>
        <td>{$row->thirdNumber}</td>
        <td>{$row->calculation}</td>
        <td>{$row->joke}</td>
        <td>{$row->createAt|date:'j. n. Y H:i:s'}</td>
    </tr>
    <tbody>

    </tbody>
</table>
