<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
	<link rel="stylesheet" href="{$basePath}/css/custom.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<div class="container">
	<div class="notification" n:foreach="$flashes as $flash" >{$flash->message}</div>

	{include content}
</div>


	{block scripts}
		<script type="text/javascript" src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
