.bg-img {
    background-image: url(https://www.digilabs.cz/hiring/chuck.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: local;
    background-size:  cover;
    background-color: #999;
}